svg {
    position: relative;
}

.background {
    background-color: pink;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

#rect-box {
    fill: white;
    stroke: black;
    stroke-width: 5;
}

.dot {
    stroke: black;
    fill-opacity: 0;
    stroke-width: 3;
}

.line {
    stroke: black;
    fill: black;
    stroke-width: 7px;
}