/* Add Your Styles Here! */
#root{
    align-items: center;
    text-align: center;
    position: relative;
}

svg {
    position: relative;
    display: block;
    margin: auto;
}

#convex-hull-box{
    position: relative;
    align-items: center;
    text-align: center;
}

.vertex {
    r: 10px;
    stroke: black;
    fill: black;
    stroke-width: 4;
}


.edge {
    stroke: black;
    stroke-width: 4px;
}

.highlight {
    fill: white 100% !important;
    stroke: red !important;
    stroke-width: 5px !important;
}

.overlay-vertex {
    stroke: yellow;
    fill: rgb(0, 0, 0, 20%);
    stroke-width: 5;
}