/* Add Your Styles Here! */
body{
    background-color: rgb(174, 144, 228);
    height: 100%;
    width: 100%;
}

#root{
    align-items: center;
    text-align: center;
    position: relative;
}

#text-box{
    position: relative;
    align-items: center;
    text-align: center;
}

.text{
    margin: auto;
    color: black;
    font-family: helvetica;
    width: 75%;
}

#main-box{
    position: relative;
    align-items: center;
    text-align: center;
    stroke: black;
    fill: rgb(174, 144, 228);
    stroke-width: 3px;
}
