.background {
    background-color: burlywood;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    margin: auto;
}

#header-text {
    text-align: center;
    position: relative;
    margin: auto;
    color: black;
    padding: 10px;
    width: 600px;
    font-size: 20px;
}

#grid-body {
    width: 510px;
    height: 510px;
}

.box {
    position: relative;
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: white;
    /* border: 0.5px solid black; */
    float: left;
}

#filled {
    background-color: black;
}